* {
	box-sizing: border-box;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

// =body

body {
	background-color: #f7f8f9;
	font: 14px/1.6 'open sans', sans-serif;
	color: #444;
}

::selection {
	background: $color-primary;
	color: #fff;
}

//
// =link
// -----------------------------------------------------------------------------

a {
	color: $color-primary;
	text-decoration: none;
	transition: all .15s;
}

a:hover {
	color: lighten($color-primary, 8);
}

header a:focus {
	background: #ffc;
	outline: 2px solid $color-primary;
	outline-offset: -2px;
	-moz-outline-radius:  2px;
	box-shadow: 0 0 3px $color-primary;
}

a:active {
	color: darken($color-primary, 5);
}

//
// =images
// -----------------------------------------------------------------------------

img {
	max-width: 100%;
	height: auto;
}

// =hr

hr {
	height: 1px;
	margin: 20px 0;
	border: none;
	border-top: 1px solid #e5e5e5;
	outline: none;
}

//
// =headers
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
	font-weight: normal;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

//
// =paragraph
// -----------------------------------------------------------------------------

p {
	margin-bottom: 20px;
}

//
// =blockquote
// -----------------------------------------------------------------------------

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 18px;
	border-left: 5px solid #eee;
}

blockquote p {
	margin-bottom: 10px;
}

blockquote cite {
	display: block;
	font-size: 14px;
	color: #888;
}

blockquote cite:before {
	content: '\2014 \00A0';
}

//
// =lists
// -----------------------------------------------------------------------------

ol, ul {
	margin-bottom: 20px;
}

ol {
	padding-left: 20px;
}

ul {
	padding-left: 17px;
}

//
// =forms
// -----------------------------------------------------------------------------

label {
	display: block;
	margin-bottom: 5px;
}

label:hover {
	cursor: pointer;
}

input[type='text'], input[type='email'], input[type='file'], select, textarea {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	outline: none;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	color: #666;
	transition: all .2s;
}

select {
	padding: 10px 3px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='file']:hover,
input[type='file']:focus,
select:focus,
textarea:focus {
	border-color: $color-primary;
	box-shadow: 0 0 3px $color-primary;
	color: #333;
	cursor: pointer;
}

input[type='submit'], .btn {
	display: inline-block;
	padding: 10px 30px;
	background: $color-primary;
	border: none;
	box-shadow: 0 3px 0 darken($color-primary, 5);
	border-radius: 2px;
	color: #fff;
	transition: all .2s;
}

input[type='submit']:hover,
input[type='submit']:focus,
.btn:hover,
.btn:focus {
	background: lighten($color-primary, 5);
	box-shadow: 0 3px 0 darken($color-primary, 5);
	color: #fff;
}

input[type='submit']:focus,
.btn:focus {
	outline: none;
}

input[type='submit']:active,
.btn:focus {
	background: darken($color-primary, 5);
	box-shadow: 0 3px 0 darken($color-primary, 5);
	transform: translateY(1px);
	transition: none;
}

//
// =tables
// -----------------------------------------------------------------------------

table, th, td {
	border: 1px solid #ddd;
}

table {
	width: 100%;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

table caption {
	margin-bottom: 10px;
	color: #999;
}

tr:nth-child(odd) {
	background: #f7f7f7;
}

th, td {
	padding: 10px;
}

th {
	background: $color-primary;
	border-top-color: $color-primary;
	border-bottom-color: $color-primary;
	font-weight: normal;
	text-align: left;
	color: #fff;
}

th:first-child {
	border-left-color: $color-primary;
}

th:last-child {
	border-right-color: $color-primary;
}

//
// =utilies
// -----------------------------------------------------------------------------

.container, .owl-carousel  {
	max-width: 1000px;
	margin: 0 auto;
}

.container {
	@include clearfix;
}

// =map

.map {
	margin-bottom: 10px;
}

// =wp-media

.size-thumbnail {
	max-width: 250px;
}

.size-medium {
	max-width: 454px;
}

.size-large {
	max-width: 928px;
}

.size-full {
	max-width: 100%;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto 20px auto;
	text-align: center;
}

.alignnone {

}

.wp-caption-text {
	text-align: center;
}



// =gallery

// thumb 250x200
// medium 554px
// large 928px

.gallery {
	display: flex;

	.gallery-item {
		flex-grow: 1;
		margin: 0 20px 20px 0;
		border: none;
	}

	a {
		display: block;
	}

	a img {
		display: block;
		width: 100%;
		height: 100%;
	}

	figcaption {
		font-size: 13px;
		color: #777;
		text-align: center;
	}
}

.gallery-columns-1 .gallery-item:nth-child(1n),
.gallery-columns-2 .gallery-item:nth-child(2n),
.gallery-columns-3 .gallery-item:nth-child(3n),
.gallery-columns-4 .gallery-item:nth-child(4n),
.gallery-columns-5 .gallery-item:nth-child(5n),
.gallery-columns-6 .gallery-item:nth-child(6n),
.gallery-columns-7 .gallery-item:nth-child(7n),
.gallery-columns-8 .gallery-item:nth-child(8n),
.gallery-columns-9 .gallery-item:nth-child(9n) {
	margin-right: 0;
}

//
// =Helper classes
// -----------------------------------------------------------------------------

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: ' '; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

//
// =header
// -----------------------------------------------------------------------------

header {
	margin-bottom: 30px;
	background: $color-secondary;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); //0px 3px 3px rgba(0, 0, 0, 0.1)
	@include clearfix;


	// =logo

	.logo {
		float: left;
		padding: 15px;
		line-height: 0;

		&:hover, &:focus {
			background: lighten($color-secondary, 8%);
		}

		img {
			opacity: .8;
			transition: all .15s;
		}

		&:hover img, &:focus img {
			opacity: 1;
		}

		&:active img {
			opacity: .8;
		}
	}
}

// logo active home page
.home {
	header {
		.logo {
			background: lighten($color-secondary, 8%);

			img {
				opacity: 1;
			}

			&:active img {
				opacity: .8;
			}
		}
	}
}


// =nav

nav {
	float: left;
	margin-right: 10px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

// =menu

.menu {
	float: left;
	font-size: 13px;
	font-weight: bold;

	> li {
		float: left;
		position: relative;
		margin-left: 1px;
		transition: all .2s;
	}

	// Insert icon menu
	> li > a > i {
		float: right;
		margin: 1px 0 0 8px;
		font-size: 18px;
	}

	// Submentu active
	li:hover > .sub-menu, .active {
		visibility: visible;
		opacity: 1;
	}

	> li > a {
		display: block;
		padding: 19px 20px 18px 20px;
		font-weight: bold;
		color: #b1bccd;
	}

	> li:hover, > li > a:hover, > li:hover > a,
	> li:focus, > li > a:focus, > li:focus > a,
	> .current-menu-item > a {
		background: lighten($color-secondary, 8%);
		color: #fff;
	}

	> li > a:active {
		color: lighten($color-secondary, 50%);
		transition: none;
	}
}

// =sub-menu

.sub-menu {
	visibility: hidden;
	position: absolute;
	z-index: 2;
	width: 250px;
	margin-bottom: 30px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0 0 0 3px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	opacity: 0;
	transition: all .2s;

	li {
		position: relative;
		border-bottom: 1px solid #eaeaea;
	}

	li:last-child, li:last-child a {
		border: none;
		border-radius: 0 0 5px 5px;
	}

	a {
		display: block;
		padding: 10px 15px;
		background: #fff;
		color: #666;
	}

	a:hover, a:focus,
	li:hover > a,
	.current-menu-item > a,
	.current-menu-parent > a {
		padding-left: 18px;
		background: #fafafa;
		color: $color-primary;
	}

	a:active {
		background: #eee;
		color: #666;
	}

	// Insert icon submenu
	li > a > i {
		float: right;
		font-size: 18px;
		line-height: 20px;
		transition: all .2s;
	}

	li > a:hover > i,
	li:hover > a > i,
	.current-menu-item > a > i,
	.current-menu-parent > a > i {
		margin-right: 3px;
	}

	// sub-menu sub-menu
	.sub-menu {
		border: 1px solid #ddd;
		border-radius: 0 3px 3px 0;
		top: -1px;
		left: 248px;

		li:first-child, li:first-child a {
			border-radius: 3px 3px 0 0;
		}

		li:last-child, li:last-child a {
			border-radius: 0 0 3px 3px;
		}
	}

	li:first-child .sub-menu {
		top: 0;
		border-top: none;
		border-radius: 0 0 3px 0;
	}
}

// =search

.search-form {
	position: relative;
	float: left;
	margin-top: 12px;

	input[type='search'] {
		margin: 0;
		padding: 0 5px;
		width: 250px;
		height: 30px;
		border: 1px solid #292929;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
		background: #efefef;
		font-size: 13px;
		color: #555;
		transition: all .3s;
	}

	input[type='search']:focus {
		background: #ffe;
		outline: 2px solid $color-primary;
	}

	button {
		position: absolute;
		top: 3px;
		right: 3px;
		width: 26px;
		height: 26px;
		border: none;
		background: transparent;
		color: lighten($color-secondary, 20%);
		transition: all .2s;
	}

	button:focus {
		outline: 2px solid $color-primary;
	}

	button i {
		position: absolute;
		top: 4px;
		right: 4px;
		display: inline-block;
		width: 18px;
		height: 18px;
		background: url(#{$path-img}/icon-search.svg) no-repeat center center;
		opacity: .7;
		transition: all .2s;
	}

	button:hover i {
		opacity: .5;
	}

	button:active i {
		opacity: .7;
	}
}

// =ajax loading

.ajax-loading-icon {
	display: none;
	float: left;
	margin: 20px 0 0 10px;
	padding: 10px;
	background: url(#{$path-img}/loading-store.gif) no-repeat center center;
	text-align: center;
	color: #999;
}

.ajax-loading-error {
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	z-index: 1;
	width: 200px;
	margin-left: -100px;
	padding: 20px;
	border: 1px solid $color-primary;
	background: #fff;
	text-align: center;
}

// =facebook

header .facebook {
	display: block;
	float: right;
	font-size: 30px;
	color: #b1bccd;
}

header .facebook i {
	margin-top: 13px;
}

header .facebook:hover, header .facebook:focus {
	outline: none;
	background: transparent;
	box-shadow: none;
	color: #fff;
}

header .facebook:active {
	background: transparent;
	color: #b1bccd;
}

.single-comercio header .facebook {
	margin-right: 15px;
}

.page-template-page-comercios header .facebook,
.tax-comercio-categoria header .facebook {
	margin-right: 40px;
}

.search header .facebook {
	margin-right: 10px;
}

//
// =main
// -----------------------------------------------------------------------------

main {
	@include clearfix;

	img {
		border: 1px solid #e6e6e6;
		background: #fff url(#{$path-img}/loading.gif) no-repeat center center;
		transition: all 0.2s;
	}

	a:hover img, a:focus img {
		border-color: $color-primary;
		opacity: .9;
		cursor: -webkit-zoom-in;
		cursor: -moz-zoom-in;
		cursor: zoom;
	}

	a:focus img, .lightbox:focus {
		outline: none;
	}

	a:active img {
		border-color: #999;
		opacity: 1;
	}

	p {
		margin-bottom: 20px;
		line-height: 1.5;
	}
}

//
// =home
// -----------------------------------------------------------------------------

.home {
	background: #ededed;
}

.marketing {
	padding: 80px 0 80px 0;
	background: #fff;

	.advantage {
		float: left;
		width: 50%;
		padding: 20px 10px;
	}

	i {
		float: left;
		margin-right: 20px;
		font-size: 50px;
		color: #00c1e3;
	}

	h2, h3 {
		text-align: center;
	}

	h2 {
		margin-bottom: 0;
		font-weight: bold;
		font-size: 36px;
	}

	h3 {
		margin-bottom: 60px;
	}

	h4, p {
		overflow: hidden;
	}

	h4 {
		margin-bottom: 5px;
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
	}
}

.home {

	.slider {
		height: 400px;
		padding: 30px 0 25px 0;
		margin: -30px 0 0;
		background: darken($color-secondary, 10%);

		img {
			border: none;
		}

		a:hover img {
			cursor: pointer;
		}

		.container {
			position: relative;
		}
	}

	.owl-wrapper-outer {
		overflow: hidden;
		height: 308px;
		background: #90999b url(#{$path-img}/loading-slider.gif) no-repeat center center;
	}

	.owl-item a {
		display: block;
		line-height: 0;
	}

}

// nav

.slider-controls {
	position: absolute;
	top: 0;
	width: 100%;

	button {
		display: inline-block;
		position: absolute;
		top: 0;
		width: 50px;
		height: 308px;
		border: none;
		background: transparent;
		font-size: 60px;
		line-height: 308px;
		text-align: center;
		color: rgba(50, 50, 50, 0.4);
		opacity: 0;
		transition: all .2s;
	}

	button:hover {
		outline: none;
		color: rgba(50, 50, 50, 0.7);
		cursor: pointer;
		opacity: 1;
	}

	button:focus {
		outline: none;
	}

	button:active {
		color: rgba(50, 50, 50, 0.9);
		transform: scale(0.9);
	}

	.prev {
		left: 0;
	}

	.next {
		right: 0;
	}
}

.slider .container:hover button {
	opacity: 1;
}

// pagination

.owl-pagination {
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;
	font-size: 0.001px;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 8px;
		vertical-align: top;
		font-size: 1rem;
	}

	li a {
		display: inline-block;
		box-sizing: content-box;
		overflow: hidden;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #646464;
		vertical-align: top;
		text-indent: -999%;
	}

	li a:hover, li a:focus {
		background: #969696;
		outline: none;
	}

	li a:active {
		background: $color-primary;
		transform: scale(.9);
	}

	.active a {
		background: $color-primary;
		transform: scale(1.1);
	}

	.active a:hover, .active a:focus {
		background: $color-primary;
	}
}

// =objective

.objective {
	padding: 80px 0 100px 0;
	background: #00abc9;
	text-align: center;
	color: #fff;

	h2 {
    	font-size: 36px;
		font-weight: 300;
	}

	p {
		margin-bottom: 0;
		font-size: 18px;
	}
}

// =plans

.plans {
	background: #232937 url('https://s3.amazonaws.com/www1.bigcommerce.com/assets/herobanners/ent-overview.jpg') no-repeat center center;
	background-size: cover;
	padding: 90px 0;

	.plan {
		display: block;
		max-width: 450px;
		margin: 0 auto;
		background: #f7f8f9;
		text-align: center;
		transition: all .2s;
		color: #444;
	}

	.plan:hover, .plan:focus {
		transform: scale(1.02);
	}

	.plan:focus {
		outline: none;
		box-shadow: 0 0 3px #00abc9;
	}

	.plan-title {
		margin-bottom: 0;
		padding: 10px;
		background: #eae9e4;
		border-bottom: 1px solid #e1e1e1;
		text-transform: uppercase;
		transition: all .2s;
	}

	.plan:hover .plan-title,
	.plan:focus .plan-title {
		background: #00c1e3;
		color: #fff;
	}

	.price {
		margin-bottom: 10px;
		padding: 20px 0;
		border-bottom: 1px solid #e9e9e9;
		background: #fafafa;
		font-size: 60px;
		font-weight: bold;
		line-height: 1;
	}

	span {
		font-size: 16px;
		color: #777;
	}

	ul {
		list-style: none;
	}

	li {
		padding: 5px 0;
	}

	.btn {
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.plan:hover .btn,
	.plan:focus .btn {
		background: lighten($color-primary, 5);
	}
}

// =news

.news {
	padding: 40px 0 20px 0;
	@include clearfix;

	.new {
		display: block;
		float: left;
		width: 30%;
		margin: 0 1% 20px;
		border: 1px solid #ddd;
		border-radius: 2px;
		background: #fff;
		color: #444;
		transition: all .2s;
	}

	.new:last-child {
		margin-right: 0;
	}

	.new:hover, .new:focus {
		border: 1px solid $color-primary;
		color: #777;
		transform: scale(1.02);
	}

	.new:focus {
		outline: none;
		box-shadow: 0 0 3px #00abc9;
	}

	.new:active {
		transform: scale(1);
		color: #444;
	}

	img {
		display: block;
		width: 300px;
		height: 150px;
		margin-bottom: 15px;
		border: none;
		background: #fff url(#{$path-img}/loading.gif) no-repeat center center;
	}

	img:hover, img:focus {
		opacity: .8;
		cursor: pointer;
	}

	img:active {
		opacity: 1;
	}

	h2, p {
	   padding: 0 20px;
	}

   h2 {
	   margin-bottom: 5px;
	   font-size: 18px;
   }

   p {
	   margin: 0 0 20px 0;
   }
}

//
// =stores
// -----------------------------------------------------------------------------

.page-template-page-comercios header, .tax-comercio-categoria header {
	margin-bottom: 0;
}

.page-template-store main .container {
	max-width: 975px;
}

.page-template-store .store-categories .container {
	max-width: 1000px;
}


#ajax-container {
	@include clearfix;
}

.store-categories {
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
	background: #fff;
	font-size: 13px;
	list-style: none;

	ul {
		overflow: auto;
		margin-bottom: 0;
		padding: 0 0 0 15px;
		list-style: none;
	}

	li {
		float: left;
		position: relative;
	}

	a {
		display: block;
		padding: 10px;
		color: #777;
		transition: all .2s;
	}

	a:hover, a:focus {
		background: #fafafa;
		color: $color-primary;
	}

	a:active, .current-cat a, .current-cat-parent a {
		background: $color-primary;
		color: #fff;
	}

}

#stores {
	margin: 0 0 30px -10px;
	padding: 0 15px;
}

.stores {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
}

.store-link {
	display: inline-block;
	width: 222px;
	padding: 10px;
	margin: 0 10px 20px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #777;

	.store-thumb {
		display: block;
		width: 200px;
		height: 160px;
		margin-bottom: 7px;
		border: 1px solid #e6e6e6;
		border-radius: 2px;
		background: #fff url(#{$path-img}/loading.gif) no-repeat center center;
		transition: all 0.2s;
	}

	&:hover, &:focus {
		border-color: $color-primary;
		color: $color-primary;
		transform: scale(1.02);

		.store-thumb, {
			opacity: 0.9;
			cursor: pointer;
		}
	}

	&:focus {
		outline: none;
	}

	&:active {
		border-color: #999;
		color: #444;
		transform: scale(1);

		.store-thumb {
			opacity: 1;
		}
	}

	.store-name {
		overflow: hidden;
		margin: 0;
		border-radius: 0 0 5px 5px;
		font-size: 13px;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* =pagination */

.pagination {
	text-align: center;

	.wp-pagenavi {
		display: inline-block;
	}

	a, span {
		display: inline-block;
		margin-left: -1px;
		padding: 7px 18px;
		background: #fff;
		border: 1px solid #ddd;
		color: #777;
	}

	.extend {
		margin-right: 0;
	}

	a:first-child, span:first-child {
		border-radius: 3px 0 0 3px;
	}

	a:last-child, span:last-child {
		border-radius: 0 3px 3px 0;
	}

	a:hover {
		background: #fafafa;
		color: $color-primary;
	}

	a:focus {
		outline: none;
	}

	a:active, a:focus, .current {
		background: $color-primary;
		color: #fff;
	}
}

#stores .pagination {
	text-align: left;
	margin: 0 10px 0;
}

//
// =store-single
// -----------------------------------------------------------------------------

.single-comercio main .container {
	max-width: 970px;
}

.store-wrap {
	position: relative;
	max-width: 970px;
	margin: 0 auto 30px auto;
	padding: 20px 20px 0 20px;
	border: 1px solid #ddd;
	background: #fff;
}

.store-details {
	overflow: hidden;
	margin-bottom: 5px;

	.store-thumb {
	   display: block;
	   float: left;
	   width: 250px;
	   height: 200px;
	   margin: 0 20px 20px 0;
	   border: 1px solid #e6e6e6;
	   background: #fff url(#{$path-img}/loading.gif) no-repeat center center;
   }

   h2 {
	   margin-bottom: 0;
	   font-size: 24px;
	   line-height: 1;
   }

   h3 {
	   margin-bottom: 0;
	   padding-bottom: 7px;
	   border-bottom: 1px solid #e6e6e6;
   }

   ul {
	   margin-bottom: 15px;
	   padding: 0;
	   list-style: none;
   }

   .store-info {
	   overflow: hidden;
   }

	table {
		border: none;
	}

	th, td {
		padding: 3px 5px;
		border: none;
	}

	th {
		width: 18%;
		background: transparent;
		font-weight: bold;
		color: #444;
	}

	td {

	}
}

// tab

.store-pages {
	@include clearfix;

	.tab {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #e6e6e6;
		list-style: none;
	}

	.tab {
		@include clearfix;
	}

	.tab li {
		float: left;
		position: relative;
		margin: 0 -1px 0 0;
	}

	.tab .active {
		margin-bottom: -1px;
	}

	.tab .active:before {
		content: '';
	    position: absolute;
	    top: 0px;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    background-color: #00abc9;
	}

	.tab a {
		display: block;
		padding: 7px 20px;
		background: #f7f8f9;
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		color: #777;
	}

	.tab a:hover {
		background: #fff;
		color: $color-primary;
	}

	.tab a:focus {
		outline: none;
		box-shadow: none;
	}

	.tab a:active, .tab .active a {
		background: #fff;
		border-color: #ddd;
		border-bottom-color: transparent;
		color: $color-primary;
	}

	.tab .active a {
		padding-bottom: 8px;
		border-bottom-color: transparent;
	}

	.active a:hover {
		border-bottom-color: transparent;
	}

	// =tab-contet
	.tab-content {
		min-height: 410px;
		//margin-bottom: 30px;
		padding-top: 20px;
		background: #fff;
		border-top-left-radius: 0;
	}

	.tab-content section {
		display: none;
	}

	.tab-content .active {
		display: block;
	}
}

// =products

.products {
	text-align: center;

	@include clearfix;

	.product {
		float: left;
		display: block;
		width: 217px;
		margin: 0 20px 20px 0;
		color: #444;
	}

	.product:nth-child(4) {
		margin-right: 0;
	}

	.product:hover, .product:focus {
		opacity: .9;
		color: $color-primary;
	}

	.product:active {
		color: #444;
		opacity: 1;
	}

	img {
		display: block;
		width: 217px;
		height: 145px;
		margin-bottom: 5px;
	}

	p {
		margin-bottom: 3px;
	}

	.title {
		margin-bottom: 0;
	}

	.price {
		font-size: 18px;
		font-weight: 600;
		color: $color-primary;
	}
}

.single-attachment {
	background: #fff;

	header, footer {
		display: none;
	}

	.container {
		margin: 0;
		padding: 0;
	}

	.product-image {
		float: left;
		position: fixed;
		width: 40%;
		padding-right: 25px;
	}

	.product-info {
		overflow: hidden;
		min-height: 400px;
		margin-left: 40%;
		padding-right: 20px;
	}

	.title {
		margin-bottom: 0;
	}

	.price {
		color: $color-primary;
		font-size: 24px;
		font-weight: 600;
	}
}

// =comments

.comments {
	position: relative;

	.hidden-disqus-footer {
		position: absolute;
		bottom: 0;
		width: calc(100% - 40px);
		height: 60px;
		background: #fff;
	}
}

.single-comercio .stores-related, .single-comercio .comments {
	clear: both;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	background: #fff;
}

.stores-related {
	position: relative;
	padding: 0 20px 15px 20px;

	h3 {
		text-align: center;
		margin: -1px 50px 30px 50px;
		padding: 15px;
		border: 1px solid #ddd;
		border-radius: 0 0 50px 50px;
		background: #fcfcfc;
		color: rgba(0,39,59,.5);
	}

	.owl-carousel .owl-wrapper-outer {
		padding-top: 3px;
	}

	.stores, .stores-related-controls {
		text-align: center;
	}

	.stores {
		width: 745px;
		margin: 0 auto;
	}

	.owl-controls {
		margin-top: -20px;
	}

}

.stores-related-controls button {
	position: absolute;
	top: 50%;
	height: 80px;
	margin-top: -40px;
	padding: 0 15px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 24px;
	color: #777;
	transition: all .2s;
}

.stores-related-controls button:hover {
	outline: none;
	background: #fafafa;
	color: $color-primary;
}

.stores-related-controls button:focus {
	outline: none;
}

.stores-related-controls button:active {
	background: #eee;
}

.stores-related-controls .prev {
	left: -1px;
	border-radius: 0 5px 5px 0;
}

.stores-related-controls .next {
	right: -1px;
	border-radius: 5px 0 0 5px;
}

// comments

.single-comercio .comments {
	padding: 10px 20px 0 20px;
}

//
// =search
// -----------------------------------------------------------------------------

.search {
	a:hover img {
		border-color: #e6e6e6;
	}

	header {
		margin-bottom: 20px;
	}

	.search-result {
		margin-bottom: 10px;
		@include clearfix;
	}

	hgroup {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	h3 {
		margin-bottom: 0;
		font-size: 24px;
		font-weight: 600;
	}

	h4 {
		font-size: 18px;
	}

	h4 span {
		color: $color-primary;
	}

	.pagination {
		margin-bottom: 30px;
	}
}

.search-link {
	display: inline-block;
	position: relative;
	margin: 0 .8% 20px;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	line-height: 20px;
	text-align: center;
	color: #666;

	&:hover, &:focus {
		border-color: $color-primary;
		color: #666;
		transform: scale(1.01);
	}

	&:focus {
		outline: none;
	}

	&:active {
		transform: scale(.99);
	}

	.store-thumb {
		display: block;
		width: 209px;
		height: 209px;
		margin: 0 auto 5px auto;
	}

	&:hover .store-thumb {
		opacity: 1;
	}

	h2 {
		margin-bottom: 0;
		font-size: 14px;
	}
}

.search-no-results, .error404 {

	header {
		margin-bottom: 20px;
	}

	main {
		text-align: center;
	}

	hgroup {
		margin-bottom: 30px;
	}

	h3 {
		margin-bottom: 0;
		font-size: 24px;
		font-weight: 600;
	}

	h4 {
		font-size: 18px;
	}

	.error-image {
		width: 256px;
		height: 256px;
		margin: 0 auto 30px auto;
		background: url(#{$path-img}/icon-ninja.svg) no-repeat;
	}
}

//
// =contact
// -----------------------------------------------------------------------------

.page-template-page-contato, .page-template-page-cadastro {
	background: #fff;

	header {
		margin-bottom: 20px;
	}

	p {
		margin: 0;
		// Editor plugin
		// if ( ! defined( 'WPCF7_AUTOP' ) ) {
		// 	define( 'WPCF7_AUTOP', false );
		// }
	}

	p:first-child, p:last-child {
		display: none;
	}

	label {
		margin-bottom: 10px;
	}
}

.page-template-page-cadastro label:last-of-type {
	margin-bottom: 20px;
}

// plugin Contact Form 7

.wpcf7 {
	.wpcf7-display-none, .screen-reader-response {
		display: none;
	}

	.wpcf7-form {
		padding: 7px 10px 15px 10px;
	}

	input, textarea {
		margin-top: 5px;
	}

	.wpcf7-submit {
		margin: 0 10px 0 0;
	}

	// not-valid

	.wpcf7-not-valid {
		border-color: red;
	}

	.wpcf7-not-valid:focus {
		border-color: $color-primary;
	}

	// tip

	.wpcf7-not-valid-tip {
		display: block;
		margin-top: -5px;
		color: red;
	}

	// message output

	.wpcf7-response-output {
		margin: 20px 0 0 0;
		padding: 5px;
		border: 1px solid #ddd;
	    background: #f8f9fb;
	}

	// loading icon

	.ajax-loader {
		position: absolute;
		display: inline-block;
		margin-top: 12px;
		border: none;
	}
}

//
// =blog & category
// -----------------------------------------------------------------------------

.blog-content {
	float: left;
	width: 65.5%;
	margin: 0 3% 0 15px;


	.post {
		margin-bottom: 30px;
		padding: 20px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 2px;
	}

	.pagination {
		margin-bottom: 30px;
	}
}

// aside

.blog-aside {
	float: left;
	width: 30%;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		border-bottom: 1px solid #e8ebed;

		&:last-child {
			border-bottom: none;
		}

		&:last-child a {
			border-radius: 0 0 5px 5px;
		}
	}

	a {
		display: block;
		padding: 12px 10px;
		color: #666;

		&:hover, &:focus, &:active {
			padding-left: 13px;
			padding-right: 7px;
		}

		&:hover, &:focus {
			background: #fafafa;
			color: $color-primary;
		}

		&:active {
			background: $color-primary;
			color: #fff;
		}
	}

	.current-cat a {
		padding-left: 13px;
		padding-right: 7px;
		background: $color-primary;
		color: #fff;
	}

	.widget {
		margin-bottom: 30px;
		border: 1px solid #ddd;
		border-radius: 5px;
		background: #fff;

		.widget-title {
			margin: 0;
			padding: 10px;
			font-size: 18px;
			border-bottom: 1px solid #e8ebed;
			border-radius: 5px 5px 0 0;
			background: #fbfbfb;
		}
	}
}

//
// =footer
// -----------------------------------------------------------------------------

footer {
	display: none;
	padding: 15px 0;
	background: #fff;
}

.home footer {
	display: block;
}

//
// =animations
// -----------------------------------------------------------------------------

.animation {
	animation-duration: .5s;
	animation-fill-mode: both;
}

// fade-in

@keyframes fade-in {
	from { opacity: 0; } to { opacity: 1; }
}

.fade-in {
	animation-name: fade-in;
}

// fade-out

@keyframes fade-out {
	from { opacity: 1; } to { opacity: 0; }
}

.fade-out {
	animation-name: fade-out;
}

//
// =media
// -----------------------------------------------------------------------------

@media(max-width: 1020px) {

	// container
	.container {
		margin: 0 10px;
	}

	// header
	header {
		margin-bottom: 20px;

		.container {
			margin: 0;
		}

		.ajax-loading-icon, .ajax-loading-error {
			position: fixed;
			top: 50%;
			left: 50%;
			border: 1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0,0,0,.1);
			z-index: 1;
		}

		.ajax-loading-icon {
			width: 50px;
			height: 50px;
			margin-top: -25px;
			margin-left: -25px;
			background: #fff url(#{$path-img}/loading.gif) no-repeat center center;
		}

		.ajax-loading-error {
			width: 200px;
			margin-top: -30px;
			margin-left: -100px;
		}

		.facebook {
			margin-right: 20px;
		}
	}

	// paginagion
	.pagination {
		a, .current{
			padding: 13px 30px;
		}
	}

	// home
	// ----------------------------------------------------------------------------
	.home {
		header {
			margin-bottom: 30px;

			.container {
				margin: 0;
			}

			.logo {
				margin-left: 20px;
			}
		}

		main {
			margin: 0;
		}

		.container {
			margin: 0 20px;
		}

		.slider {
			height: auto;
			padding: 20px 0 25px 0;

			.owl-wrap {
				height: auto;
				padding: 50px 0 20px 0;
			}

			.owl-wrapper-outer {
				height: auto;
			}

			.owl-carousel .owl-buttons div {
				display: block;
				top: 44%;
				height: 60px;
				margin-top: -30px;
				background: #333;
				font-size: 36px;
				line-height: 60px;
				color: #eee;
				opacity: 1;
			}

			// pagination
			.owl-pagination {
				padding-top: 25px;
			}

			.owl-pagination li a {
				width: 70px;
				height: 20px;
				border-radius: 0;
			}
		}

		// marketing
		.marketing {
			padding: 40px 0;
		}

		// objective
		.objective  {
			padding: 60px 0 80px 0;
		}

		// plan
		.plans {
			padding: 60px 0;
		}

		// news
		.news {

			.container {
				margin: 0 10px;
			}

			.new {
				margin: 0 1.5% 20px;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		footer {
			text-align: center;
		}
	}

	// store
	// ----------------------------------------------------------------------------
	.page-template-page-comercios {
		.container {
			margin: 0;
		}

		.store-categories {
			margin-bottom: 20px;
			a {
				padding: 15px;
			}
		}

		.store-link {
			display: inline-block;
			float: none;
			width: 31.3%;
			margin: 0 1% 20px 1%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	// store-single
	// ----------------------------------------------------------------------------
	.single-comercio {
		background: #fff !important;

		.container, main .container {
			max-width: none;
			margin: 0;
		}

		header {
			margin-bottom: 0;
		}

		.store-wrap {
			max-width: none;
			margin: 0;
			padding: 0 20px;
			border: none;
		}

		.stores-related, .comments {
			margin-bottom: 0;
			border: none;
			border-bottom: 1px solid #ddd;
		}

		.stores-related {
			padding: 0 0 25px 0;
			border-top: 1px solid #ddd;

			.stores-related-controls button {
				padding: 0 20px
			}

			.stores-related-controls .prev {
				left: 0;
				border-left-width: 0;
			}

			.stores-related-controls .next {
				right: 0;
				border-right-width: 0;
			}

			.owl-pagination li a {
				border-radius: 0;
				width: 70px;
				height: 20px;
			}
		}
	}

	// search
	// ----------------------------------------------------------------------------
	.search {
		.search-link {
			width: 31.3%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	// blog
	// ----------------------------------------------------------------------------
	.blog, .category, .single {
		header {
			margin-bottom: 20px;
		}

		main {
			img {
				width: 100%;
				height: auto;
			}
		}

		.blog-content {
			width: 67%;
			margin: 0 3% 0 0;
		}

		.post {
			margin-bottom: 20px;
		}

		.pagination {
			margin-bottom: 20px;
		}
	}
}

// =media

@media (max-width: 850px) {
	// header
	header {
		.logo:hover, .logo:active, .logo:focus {
			border: none;
			background: transparent;
		}

		.logo:hover, .logo:focus, .home .logo {
			background: transparent;
		}

		// menu
		.menu {
			// remove icon dropdown
			i {
				display: none;
			}

			// hidden submenu on hover
			& > li:hover > .sub-menu, .menu .active {
				visibility: hidden;
			}
		}

		// search
		.search-form {
			width: 100%;
			margin: 0;
			padding: 0 13px 20px;

			input[type="search"] {
				width: calc(100% - 20px);
				height: 40px;
				padding: 0 10px;
				font-size: 14px;
			}

			button {
				top: 3px;
				right: 14px;
				width: 36px;
				height: 36px;
			}

			button i {
				top: 10px;
				right: 10px;
			}
		}

		.facebook {
			position: absolute;
			top: 0;
			right: 0;
			margin-right: 13px;
		}
	}

	// home
	// ----------------------------------------------------------------------------
	.home {
		header {
			.logo {
				margin-left: 13px;
			}
		}

		.slider-controls {
			display: none;
		}
	}

	// stores
	// ----------------------------------------------------------------------------
	.page-template-page-comercios {
		header {
			.facebook {
				margin-right: 13px;
			}
		}
	}

	// store-single
	// ----------------------------------------------------------------------------
	.single-comercio {
		.stores-related .stores {
			width: 500px;
		}
	}

	// contact
	// ----------------------------------------------------------------------------
	.page-template-page-contato, .page-template-page-cadastro {
		.container {
			margin: 0;
		}

		header, footer {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.stores-related {
		display: none;
	}
}

@media (max-width: 450px) {
	header {
		.logo {
			width: 100%;
			margin: 0;
			padding: 13px 13px 12px 13px;
		}
	}
}
